<?xml version="1.0"?>
<launch>
	<!-- launch camera node -->

	<!--include file="$(find usb_cam)/launch/usb_cam-test.launch"/-->

	<include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
	<param name="/camera/realsense2_camera/align_depth" type="bool" value="True"/>
	<param name="/camera/realsense2_camera/enable_pointcloud" type="bool" value="True"/>

	<!-- launch april tag finder -->
	<!--remap from="camera_rect/camera_info" to="usb_cam/camera_info"/>
	<remap from="camera_rect/image_rect" to="usb_cam/image_raw"/-->

	<!-- remap to realsense topics -->
	<remap from="camera_rect/camera_info" to="camera/color/camera_info"/>
	<remap from="camera_rect/image_rect" to="camera/color/image_raw"/>

	<include file="$(find apriltag_ros)/launch/continuous_detection.launch"/>
	<rosparam command="load" file="configs/tags.yaml"/>
</launch>
